    <!-- navbar will be visible only after the authentication is successful-->
    <div ng-if="authenticated">
        <nav>
            <div class="nav-wrapper blue darken-3">
                <a href="javascript:void(0)" class="brand-logo right hide-on-med-and-down logo">eAllianz</a>
                <a href="javascript:void(0)" class="brand-logo hide-on-large-only logo">eAllianz</a>
                <a data-href="#" href="javascript:void(0)" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
                <a data-href="#" href="javascript:void(0)" data-activates="slide-out" class="side-collapse left hide-on-large-only"><i class="material-icons">low_priority</i></a>
                <ul class="left hide-on-med-and-down">
                    <li><a href="#!/blogs">Blogs</a></li>
                    <li><a href="#!/forums">Forums</a></li>
                    <li><a href="#!/jobs">Jobs</a></li>
                    <li><a href="#!/events">Events</a></li>
                    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="#!/blogs">Blogs</a></li>
                    <li><a href="#!/forums">Forums</a></li>
                    <li><a href="#!/jobs">Jobs</a></li>
                    <li><a href="#!/events">Events</a></li>
                    <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- end of navbar -->
