    <!-- User entire profile will be visible in the sidebar once the user authenticates -->
    <ul id="slide-out" class="side-nav fixed" ng-if="authenticated">
        <li>
            <div class="userView">
                <div class="background">
                    <img ng-src="assets/images/background.png">
                </div>
                <div><img class="circle" ng-src="assets/images/{{user.pictureId}}"></div>
                <div><span class="black-text name">{{user.firstName}} {{user.familyName}}</span></div>
                <div><span class="black-text email">{{user.email}}</span></div>
                <a ng-href="#!/edit/profile"><span class="black-text email">Edit Profile</span></a>
            </div>
        </li>
        <li ng-if="user.role == 'ADMIN'">
            <a href="#!/admin/user/activate">User Activation</a>
        </li>
        <li ng-if="user.role == 'ADMIN'"><a href="#!">Blog Approval</a></li>
        <li ng-if="user.role == 'ADMIN'"><a href="#!">Forum Creation</a></li>
        <li ng-if="user.role == 'ADMIN'"><a href="#!">Add Events</a></li>
        <li ng-if="user.role == 'ADMIN'"><a href="#!">Add Job</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
    </ul>
    <!-- end of sidebar -->

